<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lnfvc.bootmybatis.mapper.BookMapper">
    <select id="loadBook" resultType="cn.lnfvc.bootmybatis.Book">
    select * from user where id = #{id}
  </select>
    <insert id="addBook" parameterType="cn.lnfvc.bootmybatis.Book" useGeneratedKeys="true" keyProperty="id">
        insert into user (uname) values (#{uname})
    </insert>
    <select id="findAllBooks" resultType="cn.lnfvc.bootmybatis.Book">
        select * from user
    </select>
    <update id="updateBook"   keyProperty="id">
        update user set uname=#{book.uname} where id=#{id}
    </update>

    <delete id="deleteBook">
        delete from user where id=#{id}
    </delete>

</mapper>